.img-container {
    margin: 30px 15%;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    grid-template-rows: .5fr .5fr .5fr;
    grid-template-areas:
    'img-1 img-2 img-3'
    'img-4 img-5 img-7'
    'img-4 img-11 img-7'
    'img-9 img-6 img-8'
    'img-9 img-10 img-8'   ;
    grid-gap: .5rem;
    max-width: 120rem;
}

h2 {
    margin: 40px 15%;
    text-align: center;
    font-size: 30px;
}
.img-container img {
    width: 100%;
    border: solid 5px #ba135d;
    opacity: 95%;
    filter: drop-shadow(0px 15px 15px grey);
}

.img-container img:hover {
    opacity: 100%;
    filter: drop-shadow(0px 15px 15px black);
}

.img-1 {
    grid-area: img-1;
}

.img-2 {
    grid-area: img-2;
    margin-top: 122.6px;
}

.img-3 {
    grid-area: img-3;
}

.img-4 {
    grid-area: img-4;
}

.img-5 {
    grid-area: img-5; 
    
}

.img-6 {
    grid-area: img-6;
}

.img-7 {
    grid-area: img-7;
}

.img-8 {
    grid-area: img-8;
}

.img-9 {
    grid-area: img-9;
}

.img-10 {
    grid-area: img-10;
    
}

.img-11 {
    grid-area: img-11;
    
}

/* cellphone */
@media (max-width: 360px) {
    .img-container {
        
        margin: 30px;
        display: grid;
        grid-template-columns: .5fr .5fr .5fr;
        grid-template-rows: .5fr .5fr .5fr;
        grid-template-areas:
        'img-1 img-3 img-2'
        'img-4 img-5 img-7'
        'img-4 img-11 img-7'
        'img-9 img-6 img-8'
        'img-9 img-10 img-8'   ;
        grid-gap: .5px;
        max-width: 120rem;
    }
    .img-2 {
        margin:none
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

/* tablet responsive */
@media (max-width: 1121px) and (min-width: 360px) {
    .img-container {
        
        margin: 30px;
        display: grid;
        grid-template-columns: .5fr .5fr .5fr;
        grid-template-rows: .5fr .5fr .5fr;
        grid-template-areas:
        'img-1 img-3 img-2'
        'img-4 img-5 img-7'
        'img-4 img-11 img-7'
        'img-9 img-6 img-8'
        'img-9 img-10 img-8'   ;
        grid-gap: .5px;
        max-width: 120rem;
    }

    .img-2 {
        margin-top: 40px;
    }
}